---
const { title } = Astro.props;
---
<section>
    {title &&  <h2>{title}</h2>}
    <slot/>
</section>
<style>
    section {
        max-width: 700 px;
        margin: 0 auto 72px;
    }
    h2 {
        color: black;
        margin-bottom: 8px;
        font-weight: 700;
        line-height: 1.5;
        font-size: 2rem;
    }
</style>